
.row {
  
}

.col-lg-8 {

}

.col-lg-4 {

}

.col-md-7 {

}

.col-md-6 {

}

.col-md-5 {

}

.col-md-3 {

}

.col-sm-3 {

}


/*

Feel free to play with this pre-added styling! 

*/

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
