.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  width: 100vw;
  
}

 .row {
   display:flex;
   align-items:flex-end;
   
 }
 
 .col-lg-8 {
 
 }
 
 .col-lg-4 {
   width:30vw;
 }
 
 .col-md-7 {
   height:40%;
 }
 
 .col-md-6 {
 
 }
 
 .col-md-5 {
   height:40vh;
 }
 
 .col-md-3 {
 
 }
 
 .col-sm-3 {
  padding:5%;
 }
 
 
 /*
 
 Feel free to play with this pre-added styling! 
 
 */
 
 #main-header img {
   width: 100%;
   height: 100%;
 }
 
 #main-header .port-item {
   width: 30%;
 }
 
 #main-header .port-item:hover {
   opacity: 0.8;
   cursor: pointer;
 }
 
 .bg-black {
   color: #fff;
   background: #000;
 }
 
/* Extra-Small layout */
@media (max-width:767px){

}

/* Small layout */
@media (min-width:787px){

}

/* Medium Layout */
@media (min-width:992px){

}

 /* Large layout */
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

